html {
    font-size: 100%;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--text);
    font-weight: 400;
    line-height: 1.75;
    color: var(--black);
    background-image: url("../media/background.png");
    background-color: var(--darkblue);
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}

h1 {
    font-family: var(--heading1);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    margin-top: 0;
    font-size: var(--heading-h1);
}

h2 {
    font-family: var(--heading2);
    font-size: var(--heading-h2);
    color: var(--black);
}

h3,
h4,
h5 {
    font-family: var(--text);
    font-weight: 400;
    line-height: 1.5;
}

h3 {
    font-size: var(--heading-h3);
}

h4 {
    font-size: var(--heading-h4);
}

h5 {
    font-size: var(--heading-h5);
}

small,
.text_small {
    font-size: var(--body-small);
}

img {
    max-width: 100%;
}

a {
    color: var(--black);
    text-decoration: none;
}

p {
    margin-bottom: 1rem;
    line-height: 1.4rem;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: fit-content;
    background-color: var(--darkgrey);
    color: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    input[type="submit"] {
        margin-top: 1rem;
    }
    label:not(:first-child) {
        margin-top: 0.5rem;
    }
}

input {
    width: 250px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-weight: 400;
}

input[type="text"],
input[type="password"] {
    padding: 0.8em 1rem;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
    cursor: pointer;
    padding: 0.8em 2rem;
    background-color: var(--darkblue);
    color: var(--white);
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: var(--darkbluelighter);
}
