.header {
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
    background-color: var(--darkblue);

    ul {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 2.5rem;
    }

    .navSearch{
        margin-left: auto;
        margin-right: auto;
        ul li{
            &:not(:last-child){
                border-bottom: 1px solid gray;
            }
            width: 100%;
            cursor: pointer;
            padding: 0 5px;
            div{
                display: flex;
                line-height: 1rem;
                align-items: center;
            }
            img{
                width: 24px;
                height: 24px;
            }
        }
    }
    #search-results{
        position: absolute;
        background: var(--white);
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        width: 250px;
        margin-top: 5px;
        gap: 0px;
    }
    ul:first-child {
        padding-top: 0.5rem;
    }

    li {
        list-style-type: none;
    }

    a {
        font-size: 1.2rem;
        color: var(--white);

    }

    img {
        height: 70px;
    }
}