@font-face {
  font-family: 'PWChalk';
  src: url('fonts/PWChalk.ttf');
}

@font-face {
  font-family: 'Calibri';
  src: url('fonts/calibri.ttf');
}

@font-face {
  font-family: 'ModernaBold';
  src: url('fonts/Los Andes - Moderna-Bold.otf');
}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --darkblue: #3058A1;
  --yellow: #F3CD45;
  --lightgrey: #E5E5E5;
  --midgrey: #777777;
  --darkgrey: #444444;
  --red: #B72626;

  --heading1: 'PWChalk';
  --heading2: 'ModernaBold';
  --text: 'Calibri';

  --heading-h1: 39.06px;
  --heading-h2: 31.25px;
  --heading-h3: 25.00px;
  --heading-h4: 20.00px;
  --heading-h5: 18.00px;
  --body-larg: 18.00px;
  --body: 16px;
  --body-small: 14.4px;
}

@media (max-width: 768px) {
  :root {
    --heading-h1: 39.06px;
    --heading-h2: 31.25px;
    --heading-h3: 25.00px;
    --heading-h4: 20.00px;
    --heading-h5: 16px;
    --body-larg: 14px;
    --body: 12px;
    --body-small: 10px;
  }
}